@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;

  display: flex;
  flex-direction: column;
}

a {
  text-decoration: underline;
  color: blue;
}
a:hover {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
}
tr {
  max-height: 1.2em;
}
th, td {
  border: 1px solid lightgray;
  padding: .2em;
}
td {
  vertical-align: top;
}
tbody tr:nth-child(odd) {
  background-color: lightblue;
}

td.money,
td.percentage {
  text-align: right;
}
td.money::after {
  content: " €";
}
td.percentage::after {
  content: " %";
}
