@import './base.css';

#app {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0.5rem;

  font-weight: normal;

  display: flex;
  flex-direction: column;
}

a {
  text-decoration: underline;
  color: blue;
}
a:hover {
  cursor: pointer;
}

.ag-theme-alpine {
  --ag-grid-size: 3px !important;
  --ag-row-height: 30px !important;
}

#app .ag-cell-wrap-text .ag-cell-value {
  word-wrap: break-word;
  word-break: keep-all;
}
